/* ==== CSS GLOBAL ==== */
body {
    font-family: 'Cairo', sans-serif;
    font-weight:400;
}
.logo {
    width: 200px;
}
h1 {    
    padding: 25px auto;
    text-shadow: 1px 1px 2px rgba(3,10,12,0.77);
    max-width: 650px;
    margin: 20px auto;
    
}
.fond-h1 {
    background: url('../assets/img/h1-bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 25px;
}
.first-color  {
    color:#08448f;
}
.bg-first-color {
    background-color:#08448f;
} 
.less:hover, .plus:hover,
.close:hover {
    cursor: pointer;
    opacity: 0.6;
}

#totalPrice {
    display: contents;
}

